<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Timeline - Free Bulma template</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="https://dansup.github.io/bulma-templates/css/timeline.css">
  <link rel="icon" type="image/png" href="http://bulma.io/favicons/favicon-32x32.png?v=201701041855" sizes="32x32">
  <script src="{{ static('libs/jquery.js') }}"></script>
  <script src="{{ static('js/ajax_user.js') }}"></script>
  <link rel="stylesheet" href="{{ static('libs/bulma-0.4.3/css/bulma.css') }}">
  <link rel="stylesheet" href="{{ static('css/main.css') }}">
  <style type="text/css">

  </style>
</head>
<body>
<nav class="navbar ">
  <div class="navbar-brand">

    <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-github"></i>
      </span>
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-twitter"></i>
      </span>
    </a>

    <div class="navbar-burger burger" data-target="navMenuExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>


  <div id="navMenuExample" class="has-shadow navbar-menu">
      <div class="container">
          <div class="nav-left">
            <a class="nav-item is-tab is-active"><i class="fa fa-home"></i> &nbsp; Home</a>
            <a class="nav-item is-tab"><i class="fa fa-bolt"></i> &nbsp; Moments</a>
            <a class="nav-item is-tab"><i class="fa fa-bell-o"></i> &nbsp; Notifications</a>
            <a class="nav-item is-tab"><i class="fa fa-envelope"></i> &nbsp; Messages</a>
          </div>

    <div class="nav-center">
      <div class="navbar-item has-dropdown is-hoverable">
          {% if not user %}
              <a class="navbar-link  is-active">
                    Sign in
              </a>
              <div class="navbar-dropdown login-dropdown">
            <!-- Name -->
                <div class="has-text-centered navbar-item">
                    <label class="label">Name</label>
                </div>
                <div class="navbar-item field">
                  <p class="control">
                    <input class="input" type="text" id="login-username" placeholder="jsmith or jshith@gmail.com">
                  </p>
                </div>

                <!-- Password -->
                <div class="has-text-centered navbar-item">
                    <label class="label">Password</label>
                </div>
                <div class="navbar-item field">
                  <p class="control">
                    <input class="input" type="password" id="login-password" placeholder="jsmith">
                  </p>
                </div>
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="navbar-item field login-buttons">
                  <p class="control">
                      <button class="input button is-primary" id="sign-in">Sign in</button>
                  </p>

                  <p class="control">
                      <button class="input button is-link is-small">Sign up</button>
                  </p>

                  <p class="control">
                      <button class="input button is-link is-small">Forgot password</button>
                  </p>
                </div>

            </div>
          {% else %}
                <a class="navbar-link  is-active">
                      Profile
                </a>
                <div class="navbar-dropdown login-dropdown">
            <!-- Name -->
                <div class="has-text-centered navbar-item">
                    <label class="label">{{ user.first_name }}&nbsp; {{ user.last_name }} aka {{ user.username }}</label>
                </div>
            </div>
          {% endif %}
      </div>
  </div>
</div>
</div>
</nav>
  <section class="section main">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <div class="card is-fullwidth">
            <header class="card-header">
            </header>
            <div class="card-content">
              <a class="card-avatar">
                <img src="http://placehold.it/128x128" class="card-avatar-img">
              </a>

              <div class="card-user">
                <div class="card-user-name">
                  <a href="#">{{ pages_user.first_name }}&nbsp;{{ pages_user.last_name }}</a>
                </div>
                <span>
                  <a href="#">@<span>{{ pages_user.username }}</span></a>
                </span>
              </div>

              <div class="card-stats">
                <ul class="card-stats-list">
                  <li class="card-stats-item">
                    <a href="#" title="9.840 Tweet">
                      <span class="card-stats-key">Tweets</span>
                      <span class="card-stats-val">1</span>
                    </a>
                  </li>
                  <li class="card-stats-item">
                    <a href="#/following" title="885 Following">
                      <span class="card-stats-key">Following</span>
                      <span class="card-stats-val">0</span>
                    </a>
                  </li>
                  <li class="card-stats-item">
                    <a href="#">
                      <span class="card-stats-key">Followers</span>
                      <span class="card-stats-val">0</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="spacer"></div>
          <div class="box trending">
            <p class="trend-title"><span class="title is-5">Trends</span> · <a href="#">change</a></p>
            <p class="trend-hashtag"><a href="#">#hashtag1</a><br>13k statuses</p>
            <p class="trend-hashtag"><a href="#">#hashtag2</a><br>29k statuses</p>
            <p class="trend-hashtag"><a href="#">#hashtag3</a><br>2k statuses</p>
            <p class="trend-hashtag"><a href="#">#hashtag4</a><br>9k statuses</p>
            <p class="trend-hashtag"><a href="#">#hashtag5</a><br>18k statuses</p>
            <p class="trend-hashtag"><a href="#">#hashtag6</a><br>168k statuses</p>
          </div>
        </div>
        <div class="column is-6">
          <div class="box">
              <!-- Posts -->
              {% for post in posts %}
                  <article class="media">
                      <div class="media-left">
                        <figure class="image is-64x64">
                          <img src="http://placehold.it/128x128" alt="Image">
                        </figure>
                      </div>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong>{{ post.author }}</strong> <small>@{{ post.username }}</small> <small style="float:right;">
                              {% if time_now|datetimeformat('%H')|int - post.time_posted|datetimeformat('%H')|int <= 0 %}
                                {{ time_now|datetimeformat('%M')|int - post.time_posted|datetimeformat('%M')|int }} minites ago
                              {% elif time_now|datetimeformat('%d')|int - post.time_posted|datetimeformat('%d')|int <= 0 %}
                                {{ time_now|datetimeformat('%H')|int - post.time_posted|datetimeformat('%H')|int }} hours ago
                              {% endif %}
                          </small>
                            <br>
                              {{ post.body|linebreaks|safe }}
                            </p>
                        </div>
                        <nav class="level">
                          <div class="level-left">
                            <a class="level-item">
                              <span class="icon is-small"><i class="fa fa-reply"></i></span>
                            </a>
                            <a class="level-item">
                              <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                            </a>
                            <a class="level-item">
                              <span class="icon is-small"><i class="fa fa-heart"></i></span>
                            </a>
                          </div>
                        </nav>
                      </div>
                  </article>
              {% endfor %}



          </div>
        </div>
        <div class="column is-3">
          <div class="box">
            <p><span class="title is-5">Who to follow</span> · <a href="#">Refresh</a> · <a href="#">View All</a></p>
            <hr>
            <div class="columns">
              <div class="column is-3 is-marginless">
                <div class="image">
                  <img src="https://placehold.it/200x200">
                </div>
              </div>
              <div class="column is-9">
                <p>
                  <a href="#">
                    <strong>John Smith</strong>
                    &commat;jsmith
                  </a>
                  <a href="#">
                    <i class="fa fa-times"></i>
                  </a>
                </p>
                <a class="button is-primary is-small">
                  <span>
                    + Follow
                  </span>
                </a>
              </div>
            </div>
            <div class="columns">
              <div class="column is-3 is-marginless">
                <div class="image">
                  <img src="https://placehold.it/200x200">
                </div>
              </div>
              <div class="column is-9">
                <p>
                  <a href="#">
                    <strong>Jane Smith</strong>
                    &commat;janesmith
                  </a>
                  <a href="#">
                    <i class="fa fa-times"></i>
                  </a>
                </p>
                <a class="button is-primary is-small">
                  <span>
                    + Follow
                  </span>
                </a>
              </div>
            </div>
            <div class="columns">
              <div class="column is-3 is-marginless">
                <div class="image">
                  <img src="https://placehold.it/200x200">
                </div>
              </div>
              <div class="column is-9">
                <p>
                  <a href="#">
                    <strong>Mike Scott</strong>
                    &commat;mscott
                  </a>
                  <a href="#">
                    <i class="fa fa-times"></i>
                  </a>
                </p>
                <a class="button is-primary is-small">
                  <span>
                    + Follow
                  </span>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
      <script src="{{ static('js/ajax_setup.js') }}"></script>
      <script src="{{ static('js/main.js') }}"></script>
  </section>
</body>
</html>