.navbar-dropdown
    z-index: 3;

body
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

.nav-left
  display: inline-flex;
  min-width: 740px;

.nav-center
  display: inline-block;

.login-dropdown
  min-width: 300px;

.login-dropdown input[type="text"], input[type="password"], input[type="submit"]
    width: 270px;


.login-buttons p:not(:first-of-type)
  margin-left: 5px;

.profile_username
  font-weight: normal
  margin-top: -15px
  margin-bottom: -10px

.follow-button
  width: 100%

form#tweet-form
  width: 100%

.is-liked
  color: #F62459

.is-followed
  color: #00d1b2 !important